body{
	font-family:verdana;
}
#records{
	border: 1px solid blue;
	width:100px;
	display:none;
}

.over{
		color:black;
		background-color:white;
}

.out{
		color:white;
		background-color:black;
}

.rec{
	border: 1px solid #ccc;
	padding: 3px 8px;
	cursor: pointer;
}