body{
	background-color:#000066;
}
#container{
	text-align:center;
	color:white;
	font-family:verdana;
	
}
table{
	background-color:white;
	color:#575757;
	border:1px solid #a2a2a2;
	border-radius:2px;
	margin:20px auto;
}
.inp{
	border:2px solid #bbbbbb;
	border-radius:2px;
	height:16px;
}
tr{
	height:20px;
	
}
td{
	height:5px;
	padding:5px;
}
#btn{
	background-color:#8282ff;
	border-radius:4px;
	height:25px;
}